*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 39, 39);
  color: rgb(231, 231, 231);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  height: 600px;
}

.calculator {
  display: flex;
  border: 3px solid black;
  flex-direction: column;
  height: 350px;
  width: 300px;
}

.output {
  border: 1px solid white;
  height: 75px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.output-text {
  border: 1px solid blue;
  overflow: hidden;
  font-size: 54px;
  padding: 3px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid green;
  height: 100%;
}

button {
  border: none;
  background-color: darkslategrey;
  color: rgb(231, 231, 231);
  margin: 2px;
}

.numbers button {
  padding: 10px 20px;
  flex: 1;
}

.numbers {
  border: 1px solid yellow;
  flex: 1;
}

.num-top, .num-mid, .num-bot{
  display: flex;
}

.zero, .zero button {
  flex: 1;
  border: 1px solid red;
  width: 100%;
  padding: 10px;
}

.operations {
  width: 25%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.operations button {
  flex: 1;
}
